# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log


dist/*

lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/




/target/
/checkpoint/
/.idea/

